*{
    scroll-behavior: smooth;
    z-index: 0;
}
.theme{
    transition: 280ms ease-out;
}

#main-content{
    display: none;
}



.theme.active{
    transition: 280ms ease-in-out;
    background-color: rgb(22, 22, 22);
    color: white;
}

.text-justify{
    text-align: justify;
}


.navbar--main{
    width: 100%;
    position: fixed;
    transition: 280ms ease-out;
    z-index: 1000;
}

.navbar--main.active{
    transition: 280ms ease-in-out;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
}
.navbar--main.active.darkNav{
    background-color: rgb(22, 22, 22);
    box-shadow: 1px 5px 10px rgba(255, 255, 255, 0.363);

}

.mobile-nav{
    display: none;
}

.nav--btn:hover{
    transition: 280ms ease-in-out;
    transform: translateY(-10px);
    color: black;
}

#skills{
    padding: 5rem 0;
    background-color: rgb(37, 37, 37);
}

#contact{
    background-color: rgb(37, 37, 37);
}

#home{
    height: 100vh;
    display: flex;
    background-image: url('../imgs/me.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: right;
    background-size: 40%;
    animation-name: fade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transition: 280ms;
}

@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}













@media (max-width: 1200px) {

    .mobile-nav{
        display: contents;
    }

    .navbar--mobile{
        width: 100%;
        position: fixed;
        transition: 280ms ease-out;
        z-index: 1000;
    }
    

    .navbar--mobile.active{
        transition: 280ms ease-in-out;
        background-color: white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
    }
    .navbar--mobile.active.darkNav{
        background-color: rgb(22, 22, 22);
        box-shadow: 1px 5px 10px rgba(255, 255, 255, 0.363);
    
    }

    #home{
        background-image: none;
    }

    .navbar--main{
        display: none;
    }
}
#project{
    padding: 10rem 0; 
}
#about{
    padding: 10rem 0;
}

#achievement{
    padding: 10rem 0;
}

#contact{
    padding: 10rem 0;
}





.scroll--btn{
    width: fit-content;
    border: 2px solid rgb(42, 27, 255);
    color: rgb(42, 27, 255);
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(42, 27, 255, 0.363);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 280ms ease-out;
}

.scroll--btn:hover{
    transition: 280ms ease-in-out;
    box-shadow: 0px 5px 20px rgba(42, 27, 255, 0.493);
    text-shadow: 2px 2px 20px rgb(42, 27, 255) ;
}


.theme{
    border: none;
    outline: none;
    background-color: none;
}

.icons.active{
    filter: invert();
}

.intro{
    font-size: 60px;
}

.me-2{
    border-radius: 20px;
    margin: 2rem 0;
}



/* this is for the button style */
.github-btn{
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin: 10px 0;
}


.github-btn:hover{
    color: white;
    text-shadow: 1px 1px 10px white;
    background-color: rgb(11, 11, 11);
    transition: 280ms ease-in-out;
}


/* this is for the social styles */
.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
  }
  
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
  }
  
  .social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
  }
  
  .social-buttons svg {
    transition: 0.3s;
    height: 20px;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .facebook svg {
    fill: #f2f2f2;
  }
  
  .facebook:hover svg {
    fill: #3b5998;
  }
  
  .github {
    background-color: #333;
  }
  
  .github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
  }
  
  .github:hover svg {
    fill: #333;
  }
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .linkedin svg {
    fill: #f2f2f2;
  }
  
  .linkedin:hover svg {
    fill: #0077b5;
  }
  
  .instagram {
    background-color: #c13584;
  }
  
  .instagram svg {
    fill: #f2f2f2;
  }
  
  .instagram:hover svg {
    fill: #c13584;
  }
  
  
/* this is the card style */


.menuIcon{
    width: 25px;
    height: 25px;
    background-image: url('../imgs/menu.svg');
    background-size: contain;
    background-repeat: no-repeat;
}


.menuIcon.active{
    background-image: url('../imgs/close.svg');
}

.menuIcon.dark.active{
    filter: invert(1);
}

.menuIcon.dark{
    filter: invert(1);
}



.cardP {
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
  }
  
  .cardP-inner {
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
  }
  
  .cardP:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#336ce6, #7f53ef);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }



/* this is the dropdown styels for the navigation in mobile view */


.dropDownBar{
    display: none;
}

.dropDownBar.active{
    display: contents;
}

#dropDown{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    height: 100vh;
    width: 30vh;
    background-color: #ffffff;
    animation-name: slide_bar;
    animation-duration: 280ms;
    animation-fill-mode: forwards;
    transition: 280ms ease-in-out;
}


#dropDown.active{
    background-color: rgb(22, 22, 22);;
}



@keyframes slide_bar {
    0% { transform: translateX(-100px);}
    100% { transform: translateX(0);}
}



/* loader style */

#loader_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    z-index: 100000000000000000000000000000000000;
}


.loader {
    width: 120px;
    height: 150px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: linear-gradient(#ddd 50%, #bbb 51%),
      linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
      radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
      radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%),
      radial-gradient(ellipse at center, #aaa 25%, #eee 26%, #eee 50%, #0000 55%);
    background-position: 0 20px, 45px 0, 8px 6px, 55px 3px, 75px 3px, 95px 3px;
    background-size: 100% 4px, 1px 23px, 30px 8px, 15px 15px, 15px 15px, 15px 15px;
    position: relative;
    border-radius: 6%;
    animation: shake 3s ease-in-out infinite;
    transform-origin: 60px 180px;
  }
  
  .loader:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 100%;
    width: 7px;
    height: 5px;
    background: #aaa;
    border-radius: 0 0 4px 4px;
    box-shadow: 102px 0 #aaa;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    width: 95px;
    height: 95px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    background-color: #bbdefb;
    background-image: linear-gradient( to right, #0004 0%, #0004 49%, #0000 50%, #0000 100% ),
      linear-gradient(135deg, #64b5f6 50%, #607d8b 51%);
    background-size: 30px 100%, 90px 80px;
    border-radius: 50%;
    background-repeat: repeat, no-repeat;
    background-position: 0 0;
    box-sizing: border-box;
    border: 10px solid #DDD;
    box-shadow: 0 0 0 4px #999 inset, 0 0 6px 6px #0004 inset;
    animation: spin 3s ease-in-out infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg)
    }
  
    50% {
      transform: rotate(360deg)
    }
  
    75% {
      transform: rotate(750deg)
    }
  
    100% {
      transform: rotate(1800deg)
    }
  }
  
  @keyframes shake {
    65%, 80%, 88%, 96% {
      transform: rotate(0.5deg)
    }
  
    50%, 75%, 84%, 92% {
      transform: rotate(-0.5deg)
    }
  
    0%, 50%, 100% {
      transform: rotate(0)
    }
  }


.img-ts{
    object-fit: contain;
}

.ts-buttom{
    border: none;
    border-bottom: 10px transparent solid;
    border-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,8,1) 46%, rgba(34,0,255,1) 100%);
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,8,1) 46%, rgba(34,0,255,1) 100%);
    animation-name: rgbcolor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 280ms ease-in-out;
}

@keyframes rgbcolor {

    50%{
        border-image: linear-gradient(90deg, rgba(34,0,255,1) 0%, rgba(0,255,8,1) 46%,rgba(255,0,0,1)  100%);
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, rgba(34,0,255,1) 0%, rgba(0,255,8,1) 46%,rgba(255,0,0,1)  100%);
    }

    100%{
        border-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,8,1) 46%, rgba(34,0,255,1) 100%);
        border-image-slice: 1;
        border-image-source: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,8,1) 46%, rgba(34,0,255,1) 100%);
    }
    
}